@import url("https://fonts.googleapis.com/css?family=Montserrat|Raleway&display=swap");
body {
  font-family: "Montserrat", sans-serif;
  background-color: #0b1114;
  color: #0b1114; }

a {
  color: #9ce6b3; }
  a:visited {
    color: #9ce6b3; }

header {
  text-align: left;
  height: 40px;
  position: fixed;
  background-color: #0b1114;
  width: 100vw;
  top: 0;
  padding-bottom: 5px;
  z-index: 10000; }
  header h1 {
    display: inline-block;
    font-size: 14pt; }
  header a {
    text-decoration: none;
    color: #FFF; }
    header a:visited {
      color: #FFF; }
  header img {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    width: 23px;
    height: 23px;
    background-color: #FFF;
    vertical-align: text-bottom; }

h1, h2, h3 {
  font-family: "Raleway", sans-serif;
  font-weight: thin; }

nav {
  font-family: "Raleway", sans-serif;
  font-size: 1em;
  font-weight: lighter;
  display: inline-block; }
  nav ul li {
    display: inline;
    color: #FFF;
    padding: 0 50px 0 50px; }
    nav ul li a {
      color: #FFF;
      text-decoration: none; }
      nav ul li a:hover {
        font-weight: bold;
        text-decoration: underline; }

main {
  margin-top: 40px;
  margin-left: 10vw;
  margin-right: 10vw;
  padding-bottom: 20em; }

.pageTitle {
  font-size: 3em; }

.App {
  position: relative;
  min-height: 100vh;
  overflow: hidden; }

button {
  padding: 15px 20px;
  width: 180px;
  font-size: 1em;
  text-transform: uppercase;
  color: #FFF;
  border-radius: 30px; }
  button:hover {
    cursor: pointer; }

footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #FFF;
  text-align: center; }
  footer .footerOval {
    background-image: -webkit-linear-gradient(320deg, #60b585, #1f323b);
    background-image: -o-linear-gradient(320deg, #60b585, #1f323b);
    background-image: linear-gradient(130deg, #60b585, #1f323b);
    height: 100vh;
    width: 170%;
    background-color: #60b585;
    border-radius: 50%;
    position: absolute;
    bottom: -650px;
    left: -90vh;
    z-index: -100; }
  footer small {
    font-size: 1.5em;
    text-transform: uppercase;
    word-spacing: -.2em; }
  footer img {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    background-color: white;
    width: 22px;
    height: 22px;
    vertical-align: text-bottom; }
  footer span {
    font-size: 1em;
    vertical-align: top; }

.socialNav ul li {
  list-style-type: none;
  display: inline-block; }
  .socialNav ul li img {
    background-color: transparent;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }

.socialNav:hover {
  cursor: pointer; }

.socialNavTop {
  display: inline-block;
  position: fixed;
  top: 0;
  right: 0; }
  .socialNavTop ul li img {
    width: 20px;
    height: 20px;
    padding: 0 10px; }

.socialNavFt {
  text-align: center; }
  .socialNavFt ul li img {
    padding: 0 15px; }

button {
  border: #1f323b;
  background-color: #1f323b; }

/**** home page ****/
#hero {
  margin-top: 30vh; }
  #hero #heroWrapper {
    text-align: right;
    display: inline-block;
    margin-right: .3em; }
    #hero #heroWrapper h3 {
      font-weight: 100;
      font-size: 1.3em; }
  #hero img {
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    width: 100px;
    height: 100px;
    display: inline-block;
    vertical-align: text-bottom; }

.heroOval {
  height: 100vh;
  width: 170%;
  background-color: #60b585;
  border-radius: 50%;
  position: absolute;
  top: -20vh;
  right: -80vh;
  z-index: -100; }

.heroTitle {
  text-transform: uppercase;
  word-spacing: -.2em;
  font-weight: 100;
  margin-bottom: -.5em; }

#photos {
  margin-top: 35vh; }
  #photos h3 {
    text-transform: lowercase;
    font-size: 3em;
    font-weight: lighter; }
  #photos #bgPlant {
    z-index: -101;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    position: absolute;
    top: 45vh;
    left: -80px;
    width: 45vw; }

/*** donations ***/
.donations {
  width: 100%;
  background-image: -webkit-linear-gradient(320deg, #60b585, #1f323b);
  background-image: -o-linear-gradient(320deg, #60b585, #1f323b);
  background-image: linear-gradient(130deg, #60b585, #1f323b);
  padding: 20px;
  text-align: right; }
  .donations #donationInfo {
    background-color: #9ce6b3;
    padding: 20px;
    max-width: 500px;
    display: inline-block;
    text-align: center; }
    .donations #donationInfo button {
      display: inline-block; }
    .donations #donationInfo h2, .donations #donationInfo h3 {
      text-align: center;
      text-transform: uppercase; }
    .donations #donationInfo h2 {
      margin-bottom: -.5em; }
    .donations #donationInfo h3 {
      font-weight: 100;
      font-size: 1em;
      margin-bottom: 2em; }
    .donations #donationInfo p {
      text-align: left;
      padding: 0 30px;
      margin-bottom: 2em; }
    .donations #donationInfo a {
      color: #1c3627;
      font-weight: bold; }

/*** about, contact, booking ***/
.pageOval {
  height: 100vh;
  width: 170%;
  background-color: #60b585;
  border-radius: 50%;
  position: absolute;
  top: -70vh;
  right: -80vh;
  z-index: -100; }

.pageTitle {
  text-align: center;
  text-transform: uppercase;
  font-weight: 100;
  margin-top: 2em; }

.pageTitleMrg {
  margin-bottom: 3em; }

/*** about ***/
#aboutMe {
  float: right;
  width: 60%;
  max-width: 1000px;
  padding: 20px;
  background-color: #9ce6b3; }
  #aboutMe p {
    font-size: 11pt; }

#specialties {
  clear: both;
  color: #FFF;
  text-align: center;
  padding-top: 10em;
  margin-bottom: 10em; }
  #specialties ul li {
    list-style-type: none;
    display: inline-block;
    font-size: 1.2em;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    margin: 0 5vw; }

.cta {
  width: 100%;
  background-color: #9ce6b3;
  padding: 20px; }
  .cta p {
    display: inline-block;
    width: 50%;
    max-width: 700px; }
  .cta button {
    display: inline-block;
    vertical-align: middle;
    margin-left: 10vw;
    margin-bottom: 25px; }

/*** booking page ***/
#bookingInfo {
  color: #FFF; }
  #bookingInfo h3, #bookingInfo h4 {
    font-size: 1.5em;
    line-height: .4em;
    text-transform: lowercase;
    font-weight: 100; }
  #bookingInfo ul li {
    line-height: 1.8em; }

#calendar {
  color: #FFF;
  font-family: "Montserrat", sans-serif; }
  #calendar #cal {
    width: 99%; }
    #calendar #cal #arrowWrap {
      width: 99%;
      margin: 0 auto;
      position: relative;
      top: 5em; }
      #calendar #cal #arrowWrap .calArrow {
        background-color: #60b585;
        width: 10em; }
        #calendar #cal #arrowWrap .calArrow:hover {
          cursor: pointer; }
      #calendar #cal #arrowWrap #prev {
        margin-left: 20px; }
        #calendar #cal #arrowWrap #prev i {
          margin-right: 10px; }
      #calendar #cal #arrowWrap #next {
        float: right;
        margin-right: 20px; }
        #calendar #cal #arrowWrap #next i {
          color: #FFF;
          margin-left: 30px; }
    #calendar #cal table {
      width: 99%;
      margin: 0 auto; }
    #calendar #cal caption {
      width: 100%;
      border: 1px solid #9ce6b3;
      border-bottom: none;
      background-color: #02424e;
      font-size: 2em;
      text-transform: uppercase;
      font-family: "Raleway", sans-serif;
      padding: 20px 0; }
      #calendar #cal caption #calYear {
        font-family: "Montserrat", sans-serif; }
    #calendar #cal th {
      color: #0b1114;
      text-transform: lowercase;
      font-size: 1.5em;
      font-weight: 100;
      width: 8vw;
      height: 20px;
      background-color: #9ce6b3; }
    #calendar #cal td {
      color: #FFF;
      background-color: transparent;
      border: 1px solid #9ce6b3;
      height: 6vw;
      padding: 5px;
      vertical-align: top; }
    #calendar #cal .oldDate {
      color: grey; }
      #calendar #cal .oldDate:hover {
        cursor: cursor; }
    #calendar #cal .futureDate {
      color: #FFF;
      background-color: #60b585; }
      #calendar #cal .futureDate:hover {
        cursor: pointer; }

/*** contact page ***/
#contactForm {
  margin-bottom: 5em; }
  #contactForm h3 {
    color: #FFF;
    text-transform: lowercase;
    font-weight: 100;
    font-size: 1.5em;
    font-family: "Montserrat", sans-serif; }
  #contactForm #contactReason button {
    border: 3px solid #9ce6b3;
    background-color: transparent;
    margin-right: 100px;
    color: #9ce6b3; }
  #contactForm #emailForm input, #contactForm #emailForm button, #contactForm #emailForm textarea {
    display: block; }
  #contactForm #emailForm input, #contactForm #emailForm textarea {
    margin-bottom: 20px;
    width: 70%;
    border-bottom: 3px solid #1f323b;
    border-top: none;
    border-right: none;
    border-left: none;
    background-color: transparent;
    color: #1f323b;
    font-size: 1em;
    padding: 5px; }
  #contactForm #emailForm textarea {
    height: 10em; }
  #contactForm #emailForm #emailFormBg {
    background-color: #9ce6b3;
    padding: 20px; }

#socialMedia ul {
  list-style-type: none;
  margin: 0 auto; }
  #socialMedia ul li {
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 0 20px; }

/*** 404 page ***/
#error404 {
  text-align: center;
  color: #FFF;
  width: 70%;
  margin: 0 auto; }
  #error404 h2 {
    font-weight: 100; }
  #error404 p {
    text-align: left; }

/*.App-header {
  background-color: $blackBlue;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}*/
