@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway&display=swap');
@import "variables.scss";

//whole site - large screen styles
body {
  font-family: $montserrat;
  background-color: $blackBlue;
  color: $blackBlue;
}
a {
  color: $lightGreen;
  &:visited {
    color: $lightGreen;
  }
}
header {
  text-align: left;
  height: 40px;
  position: fixed;
  background-color: $blackBlue;
  width: 100vw;
  top: 0;
  padding-bottom: 5px;
  z-index: 10000; //some things were clipping over the top of the nav
  h1 {
    display: inline-block;
    font-size: 14pt;
  }
  a {
    text-decoration: none;
    color: $white;
    &:visited {
      color: $white;
    }
  }
  img {
    transform: rotate(90deg);
    width: 23px;
    height: 23px;
    background-color: $white; //color cannot be changed needs to be changed in illustrator
    vertical-align: text-bottom;
  }
}
h1, h2, h3 {
  font-family: $raleway;
  font-weight: thin;
}
nav {
  font-family: $raleway; font-size: 1em; font-weight: lighter;
  display: inline-block;
  ul li {
    display: inline;
    color: $white;
    padding: 0 50px 0 50px;
    a {
      color: $white;
      text-decoration: none;
      &:hover {
        font-weight: bold;
        text-decoration: underline;
      }
    }
  }
}
main {
  margin-top: 40px;
  margin-left: 10vw;
  margin-right: 10vw;
  padding-bottom: 20em;   //footer fix
}
.pageTitle {
  font-size: 3em;
}
.App { //this entire part is footer fix too
  position: relative;
  min-height: 100vh;
  overflow: hidden;
}
button {
  padding: 15px 20px;
  width: 180px;
  font-size: 1em; text-transform: uppercase; color: $white;
  border-radius: 30px;
  border: $darkBlue;
  background-color: $darkBlue;
  &:hover {
    cursor: pointer;
    transition: $colorTransition;
    background-color: $blue;
  }
}
footer {
  position: absolute; //footer fix
  left: 0;            //
  bottom: 0;          //
  width: 100%;
  color: $white;
  text-align: center;
  #logoftWrap {
    width: 90%;
    text-align: center;
    margin: 0 auto;
    img {
      display: inline-block;
    }
  }
  .footerOval {
    background-image: $greenToBlue;
    //height: 100vh;
    height: 900px;
    width: 170%;
    background-color: $mainGreen;
    border-radius: 50%;
    position: absolute;
    bottom: -650px;
    //left: -90vh;
    left: -800px;
    z-index: -100;
  }
  small {
    font-size: 1.5em;
    text-transform: uppercase;
    word-spacing: -.2em;
  }
  img {
    transform: rotate(90deg);
    background-color: white;  //for icon, swap out actual white one later
    width: 22px; height: 22px;
    vertical-align: text-bottom;
  }
  span {
    font-size: 1em;
    vertical-align: top;
  }
}
.socialNav {
  ul {
    padding-left: 0;
    li {
      list-style-type: none;
      display: inline-block;
    }
    img {
      background-color: transparent; //only necssary bc of background fill for logo standin
      transform: rotate(0deg);  //necessary for logo icon turn
    }
  }
  &:hover {
    cursor: pointer;
  }
}
.socialNavTop {
  display: inline-block;
  position: fixed;
  top: 0;
  right: 0;
  ul li img {
    width: 20px; height: 20px;
    padding: 0 10px;
  }
}
.socialNavFt {
  text-align: center;
  ul li img {
    padding: 0 15px;
  }
}

/**** home page ****/
#hero{
  margin-top: 30vh;
  #heroWrapper {
    text-align: right;
    display: inline-block;
    margin-right: .3em;
    h3{
      font-weight: 100;
      font-size: 1.3em;
    }
  }
  img {
    transform: rotate(90deg);
    width: 100px;
    height: 100px;
    display: inline-block;
    vertical-align: text-bottom;
  }
}
.heroOval {
  height: 100vh;
  width: 170%;
  background-color: $mainGreen;
  border-radius: 50%;
  position: absolute;
  top: -20vh;
  right: -80vh;
  z-index: -100;
  //place background image, make sure to include gradient in the image
  //remove background color after adding image
  //make sure to set image to fixed
}
.heroTitle {
  text-transform: uppercase;
  word-spacing: -.2em;
  font-weight: 100;
  margin-bottom: -.5em;
}
#photos {
  margin-top: 35vh;
  margin-bottom: -690px;
  h3 {
    text-transform: lowercase;
    font-size: 3em;
    font-weight: lighter;
  }
  #bgPlant {
    z-index: -101;
    transform: rotate(90deg);
    position: absolute;
    top: 49vh;
    left: -90px;
    width: 800px;
  }
  .pihBottom {
    text-align: right;
    font-size: 2em;
    font-family: $montserrat;
    a {
      color: $blue;
      &:hover {
        font-weight: bold;
      }
    }
    #hpHandle {
      width: 50px;
      vertical-align: middle;
      padding-right: 10px;
      //change this color to blue
    }
  }
  #bgPlantBottom {
    z-index: -102;
    transform: rotate(270deg);
    position: relative;
    top: -450px;
    right: -280px;
    width: 800px;
  }
}
/*** donations ***/
.donations {
  //add background image later
  width: 100%;
  background-image: $greenToBlue;
  padding: 20px;
  text-align: right;      //for donqationInfo box
  #donationInfo {
    background-color: $lightGreen;
    padding: 20px;
    max-width: 500px;
    display: inline-block;
    text-align: center;   //for button
    button {
      display: inline-block;
    }
    h2, h3 {
      text-align: center;
      text-transform: uppercase;
    }
    h2 {
      margin-bottom: -.5em;
    }
    h3 {
      font-weight: 100;
      font-size: 1em;
      margin-bottom: 2em;
    }
    p {
      text-align: left;
      padding: 0 30px;
      margin-bottom: 2em;
    }
    a {
      color: $darkGreen;
      font-weight: bold;
    }
  }
}

/*** about, contact, booking ***/
.pageOval {
  height: 100vh;
  width: 170%;
  background-color: $mainGreen;
  border-radius: 50%;
  position: absolute;
  top: -70vh;
  right: -80vh;
  z-index: -100;
  //set background image for oval based on page
}
.pageTitle {
  text-align: center;
  text-transform: uppercase;
  font-weight: 100;
  margin-top: 2em;
}
.pageTitleMrg {
  margin-bottom: 3em;
}

/*** about ***/
#aboutMe {
  float: right;
  width: 60%; max-width: 1000px;
  padding: 20px;
  background-color: $lightGreen;
  p {
    font-size: 11pt;
  }
}
#specialties {
  clear: both;
  color: $white;
  text-align: center;
  padding-top: 10em; //margin doesn't work here bc of float
  margin-bottom: 10em;
  ul li {
    list-style-type: none;
    display: inline-block;
    font-size: 1.2em;
    font-family: $raleway;
    text-transform: uppercase;
    margin: 0 5vw;
  }
}
.cta {
  width: 100%;
  background-color: $lightGreen;
  padding: 20px;
  //replace background with single leaf image
  p {
    display: inline-block;
    width: 50%; max-width: 700px;
  }
  button {
    display: inline-block;
    vertical-align: middle; //not really working, only sortof... its weird
    margin-left: 10vw;
    margin-bottom: 25px; //this will need to be changed/fixed (used in place of vertical align)
  }
}

/*** booking page ***/
#bookingInfo {
  color: $white;
  h3, h4 {
    font-size: 1.5em; line-height: .4em;
    text-transform: lowercase;
    font-weight: 100;
  }
  ul li {
    line-height: 1.8em;
  }
}
#calendar {
  color: $white;
  font-family: $montserrat;
  #cal {
    width: 99%;
    #arrowWrap{
      width: 99%;
      margin: 0 auto;
      position: relative;
      top: 5em;
      .calArrow {
        background-color: $mainGreen;
        width: 10em;
        &:hover {
          transition: $colorTransition;
          cursor: pointer;
          background-color: $darkGreen;
        }
      }
      #prev {
        margin-left: 20px;
        i {
          margin-right: 10px;
        }
      }
      #next {
        float: right;
        margin-right: 20px;
        i {
          color: $white;
          margin-left: 30px;
        }
      }
    }
    table{
      width: 99%;
      margin: 0 auto;
    }
    caption {
      width: 100%;
      border: 1px solid $lightGreen;
      border-bottom: none;
      background-color: $blue;
      font-size: 2em; text-transform: uppercase; font-family: $raleway;
      padding: 20px 0;
      #calYear {
        font-family: $montserrat;
      }
    }
    th {
      color: $blackBlue; text-transform: lowercase; font-size: 1.5em;
      font-weight: 100;
      width: 8vw; height: 20px;
      background-color: $lightGreen;
    }
    td {
      color: $white;
      background-color: transparent;
      border: 1px solid $lightGreen;
      height: 6vw;
      padding: 5px;
      vertical-align: top;
    }
    .oldDate {
      color: grey;
      border: 1px solid $darkBlue;
      p{
        text-transform: uppercase;
      }
      &:hover {
        cursor: cursor;
        transition: $colorTransition;
        background-color: $darkBlue;
      }
    }
    .futureDate {
      color: $white;
      background-color: $mainGreen;
      p {
        text-transform: uppercase;
      }
      &:hover {
        cursor: pointer;
        transition: $colorTransition;
        background-color: $darkGreen;
      }
    }
  }
}
/*** contact page ***/
#contactForm {
  margin-bottom: 5em;
  h3 {
    color: $white;
    text-transform: lowercase;
    font-weight: 100;
    font-size: 1.5em;
    font-family: $montserrat;
  }
  #contactReason {
    button {
      border: 3px solid $lightGreen;
      background-color: transparent;
      margin-right: 100px;
      color: $lightGreen;
      &:hover {
        transition: $colorTransition;
        background-color: $lightGreen;
        color: $blackBlue;
        //font-weight: bold;
      }
    }
  }
  #emailForm {
    input, button, textarea {
      display: block;
    }
    input, textarea {
      margin-bottom: 20px;
      width: 70%;
      border-bottom: 3px solid $darkBlue;
      border-top: none; border-right: none; border-left: none;
      background-color: transparent;
      color: $darkBlue;
      font-size: 1em;
      padding: 5px;
    }
    textarea {
      height: 10em;
      font-family: $montserrat;
    }
    #emailFormBg {
      background-color: $lightGreen;
      padding: 20px;
    }
  }
}
#socialMedia{
  ul {
    list-style-type: none;
    margin: 0 auto;
    li {
    display: inline-block;
    width: 40px; height: 40px;
    padding: 0 20px;

    }
  }
}
/*** 404 page ***/
#error404 {
  text-align: center;
  color: $white;
  width: 70%;
  margin: 0 auto;
  h2 {
    font-weight: 100;
  }
  p {
    text-align: left;
  }
}
/*** Modal ***/
.modalWrapper {
  z-index: 9999;
  position: fixed;
  width: 100%; height: 100%;
  top: 0;
  right: 0;
  background-color: $mainGreenT;
  text-align: center;
  #modal {
    width: 90%; height: 80%;
    margin: 10vh auto;
    padding: 20px;
    background-color: $blackBlue;
    box-shadow: 20px 20px 20px $blackBlueT;
    color: $white;
    .closeBtn {
      width: 35px; height: 35px;
      float: right;
      &:hover {
        cursor: pointer;
      }
    }
    h2 {
      text-align: center;
      text-transform: uppercase;
      font-weight: 100; font-size: 1.8em;
    }
    #modalBody {
      display: inline-block;
      text-align: left;
      font-size: 1.2em;
      button {
        display: block;
        margin: 40vh auto 0 auto;
      }
    }
  }
}

/**** media query start ****/
@media  only screen and (max-width: 1207px) {


  /**** home page ****/
  #hero{
    //margin-top: 25vh;
    margin-top: 30%;
    margin-left: 1em;
    #heroWrapper {
      //text-align: right;
      //display: inline-block;
      //margin-right: .3em;
      h3{
        //font-weight: 100;
        //font-size: 1.3em;
      }
    }
    img {
      //transform: rotate(90deg);
      //width: 100px;
      //height: 100px;
      //display: inline-block;
      //vertical-align: text-bottom;
    }
  }
  .heroOval {
    //height: 100vh;
    //width: 170%;
    //background-color: $mainGreen;
    //border-radius: 50%;
    //position: absolute;
    top: -6%;
    right: -50vh;
    //z-index: -100;
    //place background image, make sure to include gradient in the image
    //remove background color after adding image
    //make sure to set image to fixed
  }
  .heroTitle {
    //text-transform: uppercase;
    //word-spacing: -.2em;
    //font-weight: 100;
    //margin-bottom: -.5em;
  }
  #photos {
    //margin-top: 35vh;
    //margin-bottom: -690px;
    margin-top: 32%;
    h3 {
      //text-transform: lowercase;
      //font-size: 3em;
      //font-weight: lighter;
    }
    #bgPlant {
      //z-index: -101;
      //transform: rotate(90deg);
      //position: absolute;
      //top: 49vh;
      //left: -90px;
      //width: 800px;
      top: 13%;
    }
    .pihBottom {
      text-align: right;
      font-size: 2em;
      font-family: $montserrat;
      a {
        color: $blue;
        &:hover {
          font-weight: bold;
        }
      }
      #hpHandle {
        width: 50px;
        vertical-align: middle;
        padding-right: 10px;
        //change this color to blue
      }
    }
    #bgPlantBottom {
      z-index: -102;
      transform: rotate(270deg);
      position: relative;
      top: -450px;
      right: -280px;
      width: 800px;
    }
  }
}
