//title fonts
$raleway: 'Raleway', sans-serif;
//body font
$montserrat: 'Montserrat', sans-serif;

//colors
$mainGreen: #60b585;
$lightGreen: #9ce6b3;
$darkGreen: #1c3627;
$darkBlue: #1f323b;
$blackBlue: #0b1114;
$white: #FFF;

//functions
