//title fonts
$raleway: 'Raleway', sans-serif;
//body font
$montserrat: 'Montserrat', sans-serif;

//colors
$mainGreen: #60b585;
$lightGreen: #9ce6b3;
$darkGreen: #1c3627;
$darkBlue: #1f323b;
$blue: #02424e;
$blackBlue: #0b1114;
$white: #FFF;

//transparentColors
$mainGreenT: rgba(96, 181, 133, .8);
$blackBlueT: rgba(11, 17, 20, .8);

//gradient
$greenToBlue: linear-gradient(130deg, #60b585, #1f323b);

//animations
$colorTransition: 0.3s;

@keyframes bounce {
  0% {
    transform: scale(1) translateY(0);
  }
  10% {
    transform: scale(1.2, 0.8);
  }
  30% {
    transform: scale(0.8, 1.1) translateY(-5px);
  }
  50% {
    transform: scale(1) translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes bouncePractice {
  0% {
    transform: scale(1) translateY(0);
  }
  10% {
    transform: scale(.95, 1.05) translateY(0);
  }
  20% {
    transform: scale(0.85, 1.1) translateY(-5px) translateX(-5px);
  }
  40% {
    transform: scale(1.05, 0.95);
  }
  60% {
    transform: scale(0.95, 1.05);
  }
  100% {
    transform: scale(1) translateY(0);
  }
}

//functions
